.cybex-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cybex-layout > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cybex-layout .main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.cybex-layout .main-body > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cybex-layout .main-body .login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cybex-layout .main-body .login-wrapper > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.market-layout {
  position: relative;
  height: 100%;
  margin: 0 4px;
}

.market-layout .market-main {
  position: absolute;
  width: 51%;
  left: 24.25%;
  height: 100%;
}

.market-layout .market-markets {
  position: absolute;
  width: 24%;
  height: 50%;
  left: 0;
  top: 0;
}

.market-layout .market-orders {
  position: absolute;
  width: 24%;
  height: 50%;
  left: 0;
  top: 50%;
}

.market-layout .market-orderbook {
  position: absolute;
  width: 24.5%;
  height: 100%;
  left: 75.5%;
  top: 0;
}

.settings-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings-wrapper .settings-left {
  width: 320px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}

