.detail {
  width: 1280px;
  margin-top: 50px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 5em;
  width: 90%;
  margin: auto;
  break-inside: avoid;
  color: #fff;
}

.detail a {
  color: #ff9143;
  text-decoration: underline;
}

.detail a:hover {
  color: #ff9143;
}

.detail .legal-input {
  margin-top: 7px;
  margin-right: 10px;
}

.detail .legal-label {
  display: inline;
  margin-left: 20px;
  line-height: 2rem;
}

.detail .legal-info {
  width: 91%;
  margin-top: -25px;
  margin-left: 18px;
  margin-bottom: 15px;
}

.detail .button.primery-button {
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: linear-gradient(107deg, #ffc478, #ff9143);
}

.detail .button.primery-button a {
  text-decoration: none;
}

.detail .button.primery-button span {
  vertical-align: middle;
}

.detail .button.primery-button.waiting {
  border: 1px solid #e7ac5f;
  background: transparent;
  background-image: none;
  color: #e7ac5f;
  padding-left: 50px;
  padding-right: 50px;
}

.detail .button.primery-button.pre {
  border: 1px solid #e7ac5f;
  background: transparent;
  background-image: none;
  color: #e7ac5f;
  padding-left: 50px;
  padding-right: 50px;
}

.detail .button.primery-button.reject {
  border: 1px solid #666;
  background: transparent;
  background-image: none;
  color: #666;
  padding-left: 50px;
  padding-right: 50px;
}

.detail .button.primery-button.disabled {
  border: 1px solid #e7ac5f;
  background: transparent;
  background-image: none;
  color: #e7ac5f;
}

.detail .left-part {
  width: 60%;
  float: left;
  position: relative;
  box-sizing: border-box;
}

.detail .right-part {
  width: 40%;
  float: left;
  box-sizing: border-box;
}

.detail .title {
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  font-weight: 500;
  color: #ffffff;
}

.detail .title .main {
  font-size: 32px;
}

.detail .title .sub {
  margin-left: 10px;
  font-size: 18px;
  width: 102px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  color: #ff9143;
}

.detail .title .sub.finish {
  color: #666;
}

.detail .kyc-btn-holder {
  margin-top: 16px;
}

.detail .can-not-reserve {
  background: transparent;
  background-image: none !important;
  color: #666;
  border: #666 1px solid;
}

.detail .info-item {
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
  position: relative;
}

.detail .info-item .info-title {
  text-align: justify;
}

.detail .info-item .info-detail {
  width: 80%;
}

.detail .large-time {
  font-size: 20px;
  color: #ff9143;
  font-weight: 800;
  margin-top: 10px;
}

.detail .large-time .info-detail {
  width: auto;
  margin-right: 5px;
}

.detail .large-time .icon-time {
  width: 22px;
  height: 22px;
  margin-bottom: 3px;
  margin-right: 5px;
}

.detail img {
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
}

.detail .title {
  color: #fff;
}

.detail .info-item {
  overflow: hidden;
}

.detail .info-item .info-title {
  float: left;
  font-weight: bold;
}

.detail .info-item .info-detail {
  float: left;
  padding-left: 10px;
}

.detail .info-text {
  float: left;
  width: 20%;
  text-align: left;
  padding-left: 10px;
  color: #ff9143;
}

.detail .percent {
  float: left;
  width: 80%;
  height: 10px;
  position: relative;
  padding: 2px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000 inset;
  overflow: hidden;
  margin-bottom: 10px;
}

.detail .percent .percent-in {
  position: absolute;
  height: 6px;
  width: 30%;
  border-radius: 3px;
  background: linear-gradient(to right, #e7ac5f, #e76536);
}

.detail .percent .percent-in.finish {
  background: linear-gradient(to right, #999, #ddd);
}

.detail .button-holder {
  margin-top: 20px;
  margin-bottom: 20px;
}

.detail {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.detail.en .left-part {
  width: 60%;
  position: relative;
  box-sizing: border-box;
}

.detail.en .left-part .info-title {
  text-align: justify;
  width: 17%;
  min-width: 100px;
}

.detail.en .left-part .large-time .info-title {
  text-align: justify;
  width: auto;
  min-width: auto;
}

.detail.en .right-part {
  width: 40%;
  box-sizing: border-box;
}

.detail.en .right-part .info-title {
  text-align: justify;
}

.detail.zh .left-part {
  width: 60%;
  position: relative;
  box-sizing: border-box;
}

.detail.zh .left-part .info-title {
  text-align: justify;
}

.detail.zh .left-part .info-detail {
  width: 80%;
}

.detail.zh .right-part {
  width: 40%;
  box-sizing: border-box;
}

.detail.zh .right-part .info-title {
  text-align: justify;
  width: 25%;
  max-width: 100px;
}

.detail.zh .right-part .info-detail {
  width: 75%;
}

.detail.en, .detail.zh {
  padding: 0;
  width: 96%;
  padding: 1em;
}

.detail.en .left-part,
.detail.en .right-part, .detail.zh .left-part,
.detail.zh .right-part {
  min-width: 300px;
  float: none;
  -ms-flex: 1;
      flex: 1;
  padding-top: 2em;
}

.detail.en .separate, .detail.zh .separate {
  width: 1em;
}

.detail.en .right-part .info-item, .detail.zh .right-part .info-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detail.en .right-part .info-item > *, .detail.zh .right-part .info-item > * {
  padding: 0.3em 0;
}

.detail.en .right-part .info-item .info-title::after, .detail.zh .right-part .info-item .info-title::after {
  content: ":";
}

.detail.en .right-part .info-item .info-title, .detail.zh .right-part .info-item .info-title {
  width: 10em;
  text-align: left;
  padding-right: 0.4em;
}

.detail.en .right-part .info-item .info-detail, .detail.zh .right-part .info-item .info-detail {
  text-align: justify;
  vertical-align: bottom;
  overflow-wrap: break-word;
  -ms-flex: 1 1;
      flex: 1 1;
  min-width: 300px;
}

.detail.en .right-part .button-holder .button, .detail.zh .right-part .button-holder .button {
  height: unset;
}

.detail.zh .right-part .info-item .info-title::after {
  content: ":";
}

.detail.zh .right-part .info-item .info-title {
  width: 9em;
}

.detail.zh .right-part .info-item .info-detail {
  text-align: justify;
}

.detail.mock .title {
  height: unset;
  white-space: nowrap;
}

.detail.mock .title > span:not(.main)::before {
  content: "[";
}

.detail.mock .title > span:not(.main)::after {
  content: "]";
}

